.aspect-ratio {
  width: 360px; /* 图片宽度 */
}

.aspect-ratio__inner {
  position: relative;
  padding-top: 133.334%; /* 宽高比 */
}

.aspect-ratio__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.aspect-ratio__image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

img.aspect-ratio__image {
  max-width: 100%;
  max-height: 100%;
}
